/* detail-main */
.detail-main {
  height: 80vh;
  background-color: gray;
}

/* input-search */
.input-search {
  background-color: rgb(240, 247, 243);
}

/* paging */
.page-link {
  background-color: transparent; 
  border: none;
  color: white;
}
.page-link:hover {
  color: black;
}